ul.alert {
    /* position: relative; */
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem 1rem;
    background-repeat: no-repeat;
    background-size: calc(100% - 6px) calc(100% - 6px), 100% 100%;

    /* 枠設定 */
    background-position: 3px 0;

    /* 角切れ設定 */
    background-image:
        linear-gradient(-135deg, transparent 0 30px, #C49062 10px),
        linear-gradient(-135deg, transparent 0 30px, #010101 10px);
    color: #010101;

    /* margin-right: 1rem; */
    margin: 5rem 20rem 5rem 1rem;

    font-family: "游ゴシック体", "YuGothic";

    /* 拡大縮小 */
    transform: scaleY(1.5);
    /* 字間調節 */
    letter-spacing: -0.1rem;

    /* margin-bottom: 0.5rem; */
    font-size: 15px;

    /* フォントの太さ */
    font-weight: 700;
    /* 画面の大きさに合わせる */
    width: 30%;
}

ul.alert.li {
    list-style: none;
    text-align: center;
}