/* ここからテーブルレイアウト */
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 80%;
  }
  
  table th:first-child{
    border-radius: 5px 0 0 0;
    
  }
  
  table th:nth-child(2){ 
    border-radius: 5px 0 0 0; 
  }

  table th:nth-child(3){ 
    border-radius: 5px 0 0 0; 
  }

  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  
  table th{
    text-align: center;
    color:brown;
    background: linear-gradient(#f5deb3,#C49062);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    background-color: #fffacd;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 10px 0;
  }
  
  table td:last-child{
    border-right: 1px solid #a8b7c5;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }



/* 共通レイアウト */
h1 {
    color:brown;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}

/* 「検索する」ボタン */
.button001 .btn {
  background: #eee;
  border-radius: 3px;
  position: relative;
  margin: 0 auto;
  max-width: 280px;
  padding: 2px 10px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.button001 .btn:hover {
  background: #313131;
  color: #FFF;
}
.button001 .btn:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.button001 .btn:hover:after {
  border-color: #FFF;
}
.box {
  margin-top: 12px;
  height: 25px;
}

/* 各種ボタン */
.contents {
  display: flex;
  flex-wrap: wrap;
  width:600px;
  margin: auto;
}
.contents2 {
  display: flex;
  width:1200px;
  margin-left: 200px;
  margin-right: auto;
}

.item {
  padding: 20px 10px;
  text-align: center;
}

/* index画面新規登録ボタン */
.replace {
  margin-left: 145px;
}

/* create画面登録ボタン */
.button_line004 .btn2 {
  position: relative;
  margin: 5px 0px 5px 20px;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.button_line004 .btn2:before,
.button_line004 .btn2:after {
content: '';
width: 18px;
height: 18px;
border-color: #6bb6ff;
box-sizing: border-box;
border-style :solid;
display: block;
position: absolute;
transition: all 0.3s ease-in-out;
}
.button_line004 .btn2:before {
top: -6px;
left: -6px;
border-width: 2px 0 0 2px;
z-index: 5;
}
.button_line004 .btn2:after {
bottom: -6px;
right: -6px;
border-width: 0 2px 2px 0;
}
.button_line004 .btn2:hover:before,
.button_line004 .btn2:hover:after {
width: calc(100% + 12px);
height: calc(100% + 12px);
border-color: #6bb6ff;
}
.button_line004 .btn2:hover {
color: #fff;
background-color: #6bb6ff;
border-color: #6bb6ff;
}

/* create画面レイアウト */
.create {
	position: relative;
	width: 27.33%;
	margin: 40px 3% 20px 3%;
}
.create input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.create input[type='email']:focus {
	outline: none;
}
.create input[type='email']:focus::after {
	outline: none;
}
.create input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.create input[type='text']:focus {
	outline: none;
}
.create input[type='text']:focus::after {
	outline: none;
}
.create input[type='tel'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.create input[type='tel']:focus {
	outline: none;
}
.create input[type='number']:focus::after {
	outline: none;
}
.create input[type='date'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.create input[type='date']:focus {
	outline: none;
}
.create input[type='date']:focus::after {
	outline: none;
}
.create i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.create::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #da3c41;
}


svg.w-5.h-5{
  width: 25px;
  vertical-align: middle;
}



body {
  background-color: #f5deb3;
  margin: 0;
}

/* メニュー画面 */
.title {
  font-size: 65px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  color: brown;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  padding-top: 100px;
}

.flex {
  display: flex;

}

.element {
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  margin-inline-start: 80px;
  margin-inline-end: 10px;
  padding-left: 70px;

}

.element a {
  font-size: 40px;
  color: green;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-decoration: none;
}

.element a:hover {
  text-decoration: underline;
}

.menu {
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu::after {
  content:"";
  background-image: url(image/book3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(0, 0, 255, 0.418);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}



.menu p+p {
  border-left: 1px solid black;
}

